<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
    <h1>About</h1>
    <p>
        This page was made by <a href="https://github.com/sam-mcclure">Sam McClure</a> while going
        through the
        <a href="https://www.udemy.com/course/django-3-make-websites-with-python-tutorial-beginner-learn-bootstrap/">
            Django class
        </a> on Udemy. It will generate a random password given the selected parameters.
    </p>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
</div>
